html, body {
	margin: 0;
	height: 100%;
	overflow:auto;
}

canvas {
	display: block;
	width: 100%;
	height: 80%;
}

#banner{
	margin: 12px;
}
#code{
	margin: 12px;
	font-size: x-small;
}

#terminal{
	display: block;
	width: 100%;
	height: 80%;
	margin: 32px;
}
