/* vanilla.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #444;
    overflow: hidden;
}

#header {
    background-color: #131;
    color: #080;
    caret-color: #580;
    width: 100%;
    height: 32px;
}

#console {
    font-size: 14px;
    line-height: 1.2;
    background-color: #246;
    width: 100%;
    height: 80%;
    color: #080;
    caret-color: #580;
    font-family:
        "Cascadia Mono",
        "DejaVu Sans Mono",
        "Noto Sans Mono",
        Consolas,
        "Courier New",
        "SF Mono",
        Menlo,
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Noto Color Emoji";

    white-space: pre;
}

#status {
    background-color: #440;
    color: #aa0;
    caret-color: #840;
    width: 100%;
    height: 32px;
    font-size:x-small;
}


a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
